# snippets for making snippets :)
snippet view
	create or replace view ${1:view_name} as
	${2:select_stmt};

snippet fn begin .. end
	create or replace function ${1:name}(${2:args}) returns ${3:void} as $$
	begin
	  ${4:body}  
	end;
	$$ language plpgsql;

snippet fn declare .. begin .. end
	create or replace function ${1:name}(${2:args}) returns ${3:void} as $$
	declare
	  ${4:vars}
	begin
	  ${5:body}  
	end;
	$$ language plpgsql;
